/EduSync/EduSync.Web.API/obj
/EduSync/EduSync.Web.API/bin/Debug/net6.0
/EduSync/EduSync.DataAccess/obj
/EduSync/EduSync.DataAccess/bin/Debug/net6.0
/EduSync/EduSync.Common/obj
/EduSync/EduSync.Common/bin/Debug/net6.0
/EduSync/EduSync.Business/obj
/EduSync/EduSync.Business/bin/Debug/net6.0
/EduSync/.vs/EduSync
/.vs
