<div class="container-fluid px-4">
    <h1 class="mt-4">Edit <span style="color:green;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Student</span></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Edit Student Here</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <form [formGroup]="studentFormGroup" (ngSubmit)="onSubmitForm(studentFormGroup.value)">
                <div class="form-group mt-3">
                    <label for="studentname" style="font-weight: bold;">Student Id</label>
                    <input type="number" readonly class="form-control" id="studentid" formControlName="StudentId" placeholder="Jhon">
                  </div>
                <div class="form-group mt-3">
                  <label for="studentname" style="font-weight: bold;">Student Name</label>
                  <input type="text" class="form-control" id="studentname" formControlName="StudentName" placeholder="Jhon">
                  <span class="error" *ngIf="!studentFormGroup.controls['StudentName'].valid && studentFormGroup.controls['StudentName'].dirty">Please
                    Enter Student Name .
                    </span>
                </div>
                <div class="form-group mt-3">
                    <label for="studentemail" style="font-weight: bold;">Student Email</label>
                    <input type="email" class="form-control" id="studentemail" formControlName="StudentEmail" placeholder="example@gmail.com">
                    <span class="error" *ngIf="!studentFormGroup.controls['StudentEmail'].valid && studentFormGroup.controls['StudentEmail'].dirty">Please
                        Enter Student Email
                </span>
                </div>
                <div class="form-group mt-3">
                    <label for="enrollmentYear" style="font-weight: bold;">EnrollmentYear</label>
                    <select class="form-control" id="enrollmentYear" formControlName="Enrollmentyear">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    </select>
                    <span class="error" *ngIf="!studentFormGroup.controls['Enrollmentyear'].valid && studentFormGroup.controls['Enrollmentyear'].dirty">Please
                        Select EnrollmentYear
                        .
                </span>
                </div>
                <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger mx-3" (click)="backTodashboard()">Cancel</button>
                </div>
              </form>
    </div>
    </div>


</div>

