<div class="container-fluid px-4">
    <h1 class="mt-4">Student <span style="color:green;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Graphical Info</span></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">View</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <ngx-charts-bar-vertical
            [view]="view"
            
            [results]="graphValues"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="false"
          
            >
    </ngx-charts-bar-vertical>
        </div>
    </div>

</div>
